.main-page{
    background-image: url('https://wallpapercave.com/wp/wp4069441.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: inherit;
}